@import 'reset.sass'
@import 'frameless.sass'
@import 'fonts/open-sans-condensed-fontfacekit/stylesheet.sass'
@import 'fonts/open-sans-fontfacekit/stylesheet.sass'
@import 'fonts/modern-pictograms-fontfacekit/stylesheet.sass'

//Colors

$white: #fff
$blue: #3399CC
$drk_blue: #006699
$orange: #FF3300
$lt_orange: #FF6600
$stone: #C6C0AA
$cees: #ccc
$sixes: #666
$nines: #999
$threes: #333

//General

html, body
  overlow-x: hidden
body
  @include OpenSansLight
  color: $threes
  background: $sixes
h1,h3,h5
  @include OpenSansCondensedBold
  text-transform: uppercase
  font-weight: normal
  font-size: 52px
h2,h4,h6
  font-weight: normal
  font-size: 32px
a
  transition: all .3s ease
  color: $blue
  text-decoration: none
  &:hover
    color: $drk_blue

.page
  background: url('images/subtlenet2.png')
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2)
  background: url('images/subtnet2_@2x.png')
.wrapper
  width: $cols16
  margin: 0 auto
  position: relative
.copy
  width: $cols12
  margin: 40px auto
  position: relative
  text-align: center

//UI Elements

.button
  @include OpenSansCondensedBold
  padding: 10px $gutter
  display: inline-block
  color: $white
  text-transform: uppercase
  border: none
  border-radius: 8px
  transition: all .3s ease
.orange
  background: $orange
  &:hover
    background: $lt_orange
.blue
  background: $blue
  color: $white
.white
  background: $white
  color: $threes
  &:after
    border:
      color: $white
.page-tag
  text-align: center
  padding: 40px 0
  h3
    display: inline-block
    padding: 10px $gutter
    font-size: 28px
    position: relative
    line-height: 1.35em
    &:before
      content: ''
      position: absolute
      background: $stone
      top: 0
      left: -2em
      border:
        width: 1em
        style: solid
        color: transparent $white transparent transparent
    &:after
      content: ''
      position: absolute
      background: $stone  
      top: 0
      right: -2em
      border:
        width: 1em
        style: solid
        color: transparent transparent transparent $white
.white-double-border
  background: url('images/border-white.png') center center repeat-x
.grey-double-border
  background: url('images/border-grey.png') center center repeat-x
footer.white-double-border
  background: url('images/border-white.png') center 25% repeat-x
footer.grey-double-border
  background: url('images/border-grey.png') center 25% repeat-x
.tothetop
  margin: 0 auto
  display: block

//Header

.masthead
  padding: $gutter 0
  .copy
    .button
      font-size: 28px

.branding
  h1,h2
    position: absolute
    text-indent: -9999em
  .logo
    width: $cols3
    display: block
    margin: 0 auto
    img
      width: 100%
      height: auto
.access
  @include OpenSansCondensedBold
  text-transform: uppercase
  ul
    border:
      top: 1px solid $nines
      bottom: 1px solid $nines
    width: $cols6
    position: absolute
    top: 20%
    li
      display: inline-block
  a
    padding: $gutter
    font-size: 20px
    display: block
    text-decoration: none
    color: $sixes
    &:hover
      color: $cees
  .menu-left
    left: 0
    text-align: right
  .menu-right
    right: 0
    text-align: left

//Front Page

//Content

.content
  h1,h2,h3,h4,h5,h6
    margin: 0 0 $gutter 0
  p, address, ul, ol
    line-height: 1.35em
  p, address
    margin: 0 0 20px 0
  blockquote
    border-right: 5px solid $blue
    margin: 0 0 20px 10px
  ul, ol
    margin: 0 0 20px 10px
    padding: 0 0 0 10px
  ul
    list-style: disc inside
  ol
    list-style: decimal inside
.about
  background: $stone
  position: relative
  .ns-button-wrap
    background: $stone
    position: relative
    width: $cols3
    display: block
    padding: 0 20px
    margin: 0 auto
    overflow: hidden
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 10%
      border-radius: 100px 100px 0 0
      box-shadow: 0 3px 10px rgba(0,0,0,.75)
      width: 80%
      height: 90%
      background: transparent
      z-index: 3
  .tothetop
    background: $threes
    display: block
    position: relative
    border: none
    border-radius: 100px 100px 0 0
    padding: 5px 5px 0
    z-index: 9
    transition: all .3s linear
    &:hover
      background: $blue
    &:before
      content: ''
      position: absolute
      z-index: 0
      bottom: 0
      padding: 0 20px
      left: -20px
      width: 100%
      height: 100%
    span
      @include OpenSansCondensedBold
      border:
        top: 5px solid $white
        right: 5px solid $white
        bottom: 0
        left: 5px solid $white
      padding: 15px 25px 10px
      border-radius: 100px 100px 0 0
      display: block
      font-size: 28px
      color: $white
      text-transform: uppercase
      &:before
        @include ModernPictogramsNormal
        content: ']'
        margin: 0 auto
        display: block

//Sidebar

//Footer

.colophon
  background: $sixes
  color: $white
  text-align: center
  h4
    padding: $gutter
    margin: 0 0 $gutter
    font-size: 26px
    display: inline-block
    background: url('images/border-white.png') bottom repeat-x
  h6
    font-size: 16px
  .wrapper
    margin-bottom: 20px

//Break Points